body {
    background-color: hsl(230, 100%, 99%);
    background-image: url("./images/bg-pattern.svg");
    background-repeat: no-repeat;
    background-size: 100% 55%    
        /* width height */
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.header {
    display: flex;
    flex-direction: column;
    background-image: url("./images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    justify-content: center;
    height: 300px;
}

h1 {
    padding-top: 4rem;
    display: block;
    align-items: center;
    justify-content: center;
    justify-self:center;
    font-family: 'Manrope',
    sans-serif;
    font-size:2.3rem;
    font-weight:800;
    margin: 0.3rem;
    text-decoration:wavy;
}

h2 {
    padding-bottom: 7vh    ;
    align-items: center;
    display: block;
    font-family: 'Manrope';
    font-size: 1.2rem;
    margin: 0.5rem;
    color: hsl(225, 20%, 60%);
    font-weight: 600;
}

.main {
    font-family: 'Manrope';
    padding: 2.5rem;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border-radius: 3%;
}

.main-header {
    flex-direction: column;
}

.cant-views {
    
    color: hsl(225, 20%, 60%);
    font-size: larger;
    padding-right: 10rem;
    letter-spacing: 0.1rem;
}

.price {
    color: hsl(227, 35%, 25%);
    font-size: 3rem;
    font-weight: 800;
    
}

.month {
    color: hsl(225, 20%, 60%);
    font-size: larger;
}

/*wrapper*/

.main-wrapper {
    flex-direction: column;
}


/*sliderbar*/

.slidecontainer {
    width: 100%;
    padding-top: 4rem;
}

.slidecontainer::hover {
    box-shadow: rgb(50, 50, 93);
}



.slider1 {
    -webkit-appearance: none;
    -webkit-box-align: center;
    width: 35rem;
    height: 10px;
    border-radius: 5px;
    background: hsl(174, 77%, 80%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider1:hover {
    opacity: 1;
    
}

.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: hsl(174, 86%, 45%);
    background-repeat: no-repeat;
    cursor: pointer;
    
    
}

.slider1::-webkit-slider-thumb:hover {
    box-shadow:0px 0px 5px rgb(255, 0, 0);
}




.slider1::-moz-range-thumb{
    width: 23px;
    height: 24px;
    border: 0;
    background: url('./images/icon-slider.svg');
    cursor: pointer;
}


/*dash*/

.dash {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 3rem;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 29px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(226, 100%, 87%);
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4.6px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked+.slider {
    background-color: hsl(174, 86%, 45%);
    opacity: .5;
}

input:focus+.slider {
    box-shadow: 0 0 1px hsl(174, 86%, 45%);
    transition: box-shadow 2s;
}


input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.monthly {
    padding-right: 1.5rem;
    color: hsl(225, 20%, 60%);
}

.year {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: hsl(225, 20%, 60%);
}

.discount {
    display: inline-block;
    padding: .2rem;
    font-size:small;
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
}

/* line */

.line {
    border-width: 0;
    height: 2px;
    color: rgb(255, 255, 255);
    width: 110%;
    
}

/* end  */ 

.end {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
}

.advantages {
    display: flex;
    flex-direction: column; 
    width: 25vw;
}

.advantages a {
    padding: .5rem;
    
}

.img {
    padding-right: 1rem;
}


.button {
    display:inline-flex;

}

button {
    color:hsl(0, 0%, 100%);
    display: inline-block;
    padding-bottom: 5rem;
    border-radius: 30px;
    margin: 1em;
    padding: 1em 4em;
    border: 0;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    position: relative;
    right: 2rem;
    background-color: hsl(227, 35%, 25%);
}

